

* {
    background-image: url(image.jpg) ;
}
body{
    text-align: center;
}

.das{
    text-align: center;  
}

form {
    text-align: center;
    align-self: auto;
    
    
}
label{
    display: block;

}
input{
    display: block;
    margin: auto;
}


button{
    display: block;
    margin: auto;

}
